---
import { getCollection, getEntry } from 'astro:content';
import Page from '@/layouts/Page.astro';
import Icon from '@/components/Icon.astro';
import { sortByOrder } from '@/utils/sort';

const content = await getEntry('page', 'about');
const aboutmes = sortByOrder(await getCollection('aboutme'));
const specializations = sortByOrder(await getCollection('specialization'));
---

<Page
  active="about"
  title={content.data.title}
  description={content.data.description}
  ogdescription={content.data.ogdescription}
  navigationLinks={{ back: 'home', forward: 'skill' }}
>
  <div class="flex flex-col gap-14">
    <div class="flex flex-col gap-7">
      <div class="flex flex-col gap-2">
        <h2 class="text-lg font-semibold">{content.data.aboutme.title}</h2>
        <p class="text-gray-500 dark:text-gray-400">
          {content.data.aboutme.description}
        </p>
      </div>
      <div class="flex flex-col gap-8">
        {
          aboutmes.map((aboutme) => (
            <div class="flex flex-col gap-x-5 gap-y-2 sm:flex-row">
              <span class="flex self-start rounded-md bg-gray-900 p-2 text-white dark:bg-gray-50 dark:text-black">
                <Icon icon={aboutme.data.icon} />
              </span>
              <div class="flex flex-col gap-1">
                <h3 class="font-semibold">{aboutme.data.title}</h3>
                <p class="text-gray-500 dark:text-gray-400">
                  {aboutme.data.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
    <div class="flex flex-col gap-7">
      <div class="flex flex-col gap-2">
        <h2 class="text-lg font-semibold">
          {content.data.specialization.title}
        </h2>
        <p class="text-gray-500 dark:text-gray-400">
          {content.data.specialization.description}
        </p>
      </div>
      <div class="flex flex-col gap-8">
        {
          specializations.map((specialization) => (
            <div class="flex flex-col gap-x-5 gap-y-2 sm:flex-row">
              <span class="flex self-start rounded-md bg-gray-900 p-2 text-white dark:bg-gray-50 dark:text-black">
                <Icon icon={specialization.data.icon} />
              </span>
              <div class="flex flex-col gap-1">
                <h3 class="font-semibold">{specialization.data.title}</h3>
                <p class="text-gray-500 dark:text-gray-400">
                  {specialization.data.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Page>
