---
import { getCollection, getEntry } from 'astro:content';
import BlogLayout from '@/layouts/Blog.astro';
import { sortByOrder } from '@/utils/sort';
import Article from '@/components/Article.astro';
import FutureArticle from '@/components/FutureArticle.astro';

const content = await getEntry('page', 'articles');
const articles = sortByOrder(await getCollection('article'));
---

<BlogLayout
  title={content.data.title}
  description={content.data.description}
  ogdescription={content.data.ogdescription}
>
  <div class="flex flex-col gap-5">
    <h1 class="text-2xl font-semibold">{content.data.title}</h1>
    <div class="columns-1 gap-5 md:columns-2">
      {
        articles.map((article) => (
          <Article detail={content.data.detail} article={article} />
        ))
      }
      <FutureArticle
        comingsoon={content.data.comingsoon}
        detail={content.data.detail}
      />
    </div>
  </div>
</BlogLayout>
