---
import { getCollection, getEntry } from 'astro:content';
import FutureProject from '@/components/FutureProject.astro';
import Project from '@/components/Project.astro';
import Page from '@/layouts/Page.astro';
import { removeUndefined } from '@/utils/remove-undefined';
import { sortByOrder } from '@/utils/sort';

const content = removeUndefined(await getEntry('page', 'projects'));
const upwork = removeUndefined(await getEntry('social', 'upwork'));
const projects = sortByOrder(await getCollection('project'));
---

<Page
  active="project"
  title={content.data.title}
  description={content.data.description}
  navigationLinks={{ back: 'skill', forward: 'repository' }}
>
  <div class="flex flex-col gap-5">
    <h2 class="text-lg font-semibold">{content.data.title}</h2>
    <div class="flex flex-col gap-3">
      {projects.map((project) => <Project project={project} />)}
      <FutureProject link={upwork.data.link} />
    </div>
  </div>
</Page>
