---
import { getCollection, getEntry } from 'astro:content';
import Page from '@/layouts/Page.astro';
import SkillCategory from '@/components/SkillCategory.astro';
import { sortByOrder } from '@/utils/sort';

const content = await getEntry('page', 'skills');
const skillCategories = sortByOrder(await getCollection('skillcategory'));
---

<Page
  active="skill"
  title={content.data.title}
  description={content.data.description}
  ogdescription={content.data.ogdescription}
  navigationLinks={{ back: 'about', forward: 'project' }}
>
  <div class="flex flex-col gap-5">
    <h2 class="text-lg font-semibold">{content.data.heading}</h2>
    <div class="flex flex-col gap-3">
      {
        skillCategories.map((skillCategory) => (
          <SkillCategory skillCategory={skillCategory} />
        ))
      }
    </div>
  </div>
</Page>
