---
import type { Props as DefaultProps } from '@/layouts/Default.astro';
import DarkMode from '@/components/DarkMode.astro';
import Icon from '@/components/Icon.astro';
import Logo from '@/components/Logo.astro';
import SocialLinks from '@/components/SocialLinks.astro';
import Default from '@/layouts/Default.astro';
import { blogLinks } from '@/utils/constants';

type Props = DefaultProps;

const { ...props } = Astro.props;

const links = Object.values(blogLinks);
---

<Default {...props}>
  <header
    class="top-0 left-0 z-40 w-full border-b border-gray-300 bg-gray-50 pt-1 pb-2 sm:fixed dark:border-gray-700 dark:bg-gray-900"
  >
    <div
      class="mx-auto flex max-w-5xl items-center justify-between max-lg:px-2"
    >
      <Logo />
      <div class="flex items-center gap-8">
        <nav class="flex gap-5 max-sm:hidden">
          {
            links.map((link) => (
              <a
                href={link.href}
                aria-label={link.name}
                class="text-md flex items-center gap-1 font-semibold hover:border-b"
              >
                <Icon class="h-4! w-4!" icon={link.icon} />
                {link.name}
              </a>
            ))
          }
        </nav>
        <DarkMode />
      </div>
    </div>
  </header>
  <nav
    class="fixed bottom-0 left-0 z-40 flex w-full justify-around border-t border-gray-300 bg-gray-50 py-2 sm:hidden dark:border-gray-700 dark:bg-gray-900"
  >
    {
      links.map((link) => (
        <a
          href={link.href}
          aria-label={link.name}
          class="text-md flex w-full flex-col items-center gap-1 font-semibold hover:border-b"
        >
          <Icon class="h-4! w-4!" icon={link.icon} />
          {link.name}
        </a>
      ))
    }
  </nav>
  <div class="flex min-h-screen flex-col">
    <main class="py-10">
      <div class="mx-auto grid max-w-3xl grid-cols-1 max-md:px-2 sm:pt-18.25">
        <slot />
      </div>
    </main>
    <footer class="mt-auto max-sm:pb-15.25">
      <div
        class="mx-auto flex max-w-5xl justify-center border-t border-gray-300 py-4 dark:border-gray-700"
      >
        <SocialLinks />
      </div>
    </footer>
  </div>
</Default>
