---
import { pwaInfo } from 'virtual:pwa-info';
import { ViewTransitions } from 'astro:transitions';
import Header from '@/components/Header.astro';
import { color, name } from '@/utils/constants';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" href="/pwa-192x192.png" />
    <link rel="mask-icon" href="/favicon.svg" color={color} />
    <meta name="msapplication-TileColor" content={color} />
    <meta name="theme-color" content={color} />
    <meta name="generator" content={Astro.generator} />
    <title>{name}</title>
    <ViewTransitions />
    <script src="/src/pwa.ts"></script>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  </head>
  <body class="bg-gray-50 text-black dark:bg-gray-900 dark:text-white">
    <div class="mx-auto flex max-w-screen-2xl flex-col px-5 py-5 2xl:px-0">
      <Header />
      <slot />
    </div>
  </body>
</html>
