---
import { SEO } from 'astro-seo';
import { ClientRouter } from 'astro:transitions';
import GoogleTag from '@/components/GoogleTag.astro';
import ProgressBar from '@/components/ProgressBar.astro';
import PWA from '@/components/PWA.astro';
import Scripts from '@/components/Scripts.astro';
import { name } from '@/utils/constants';
import '../styles/global.css';

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <SEO
      titleTemplate={`%s | ${name}`}
      titleDefault={name}
      title={title}
      description={description}
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <Scripts />
    <ClientRouter />
    <PWA />
    <GoogleTag />
  </head>
  <body
    class="scrollbar-thin scrollbar-thumb-gray-900 scrollbar-track-gray-50 bg-gray-50 text-black dark:scrollbar-thumb-gray-50 dark:scrollbar-track-gray-900 dark:bg-gray-900 dark:text-white"
  >
    <ProgressBar />
    <slot />
  </body>
</html>
